modeloapp/__pycache__/*
/apps/categories/__pycache__/*
/apps/categories/migrations/*
/apps/products/__pycache__/*
/apps/products/migrations/*
/apps/teacher/__pycache__/*
/apps/teacher/migrations/*
/apps/teachers/__pycache__/*
/apps/teachers/migrations/*